<div ng-if="$ctrl.authenticating == false">
	<div class="row">
		<h1>Sign In</h1>
	</div>
	<div class="row">
		<form id="signin">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="email">Email Address</label>
					<input ng-required="true" data-required-error="Email Address is Required" id="email" placeholder="Enter email address" type="email" ng-model="$ctrl.email" class="form-control" required/>
					<div class="help-block with-errors"></div>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input data-required-error="Password is Required" id="password" placeholder="Enter password" type="password" ng-model="$ctrl.password" class="form-control" required/>
					<div class="help-block with-errors"></div>
					<div class="text-danger" ng-bind="$ctrl.error"></div>
				</div>
				<button type="submit" class="btn btn-primary btn-block" ng-click="$ctrl.signIn()">Sign In</button>
			</div>
			<div class="col-md-4"></div>
		</form>
	</div>
	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4 sign-up">
			<a href="#!/signup">Sign up</a> | <a href="#!/reset">Forgotten Password</a>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
<div class="row" ng-if="$ctrl.authenticating == true">
	<div class="col-md-4"></div>
	<div class="col-md-4" align="center">
		<div class="loader"></div>
	</div>
	<div class="col-md-4"></div>
</div>
