<div class="row">
	<h1 ng-bind="'change.heading' | translate"></h1>
</div>
<form id="change">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="currentPassword" ng-bind="'change.currentPassword.label' | translate"></label>
				<input id="currentPassword" data-required-error="{{'change.currentPassword.errors.required' | translate}}" placeholder="{{'change.currentPassword.placeholder' | translate}}" type="password" ng-model="$ctrl.currentPassword" class="form-control" required/>
				<div class="help-block with-errors"></div>
				<div class="text-danger" ng-bind="$ctrl.currentPasswordError"></div>
			</div>
			<div class="form-group">
				<label for="newPassword" ng-bind="'change.newPassword.label' | translate"></label>
				<input pattern="{{$ctrl.strongPattern}}" data-required-error="{{'change.newPassword.errors.required' | translate}}" data-pattern-error="{{'change.newPassword.errors.pattern' | translate}}" id="newPassword" placeholder="{{'change.newPassword.placeholder' | translate}}" type="password" ng-model="$ctrl.newPassword" class="form-control" required/>
				<div class="help-block with-errors"></div>
			</div>
			<div class="form-group">
				<label for="confirmPassword" ng-bind="'change.confirmPassword.label' | translate"></label>
				<input data-match="#newPassword" data-required-error="{{'change.confirmPassword.errors.required' | translate}}" data-match-error="{{'change.confirmPassword.errors.match' | translate}}" id="confirmPassword" placeholder="{{'change.confirmPassword.placeholder' | translate}}" type="password" ng-model="$ctrl.confirmPassword" class="form-control" required/>
				<div class="help-block with-errors"></div>
				<div class="text-danger" ng-bind="$ctrl.newPasswordError"></div>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-2">
			<button type="submit" class="btn btn-primary btn-block" ng-click="$ctrl.change()" ng-bind="'change.submit' | translate"></button>
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-primary btn-block" ng-click="$ctrl.cancel()" ng-bind="'change.cancel' | translate"></button>
		</div>
		<div class="col-md-4"></div>
	</div>
</form>
