<div ng-if="$ctrl.transactions && $ctrl.account && $ctrl.account.name">
	<div class="row">
		<h1 ng-bind="$ctrl.account.name"></h1>
	</div>
	<div class="row">
		<h1 ng-bind="$ctrl.account.balance | number: 2"></h1>
	</div>
	<div class="row">&nbsp;</div>
	<div class="row">
		<form>
			<div class="col-md-3"></div>
			<div class="col-md-2">
				<a class="btn btn-primary btn-block" href="#!/accounts/{{$ctrl.accountId}}/withdraw" role="button" ng-bind="'account.withdraw' | translate"></a>
			</div>
			<div class="col-md-2">
				<a class="btn btn-primary btn-block" href="#!/accounts/{{$ctrl.accountId}}/deposit" role="button" ng-bind="'account.deposit' | translate"></a>
			</div>
			<div class="col-md-2">
				<a class="btn btn-primary btn-block" href="#!/accounts/{{$ctrl.accountId}}/transfer" role="button" ng-bind="'account.transfer' | translate"></a>
			</div>
			<div class="col-md-3"></div>
		</form>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h2 ng-bind="'account.heading' | translate"></h2>
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<table class="table table-striped">
				<thead>
					<tr>
						<th ng-bind="'account.date' | translate"></th>
						<th ng-bind="'account.description' | translate"></th>
						<th ng-bind="'account.type' | translate"></th>
						<th ng-bind="'account.amount' | translate" class="text-right"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="transaction in $ctrl.transactions | orderBy:'dateTime':'descending'" ng-class="$ctrl.css_class(transaction)">
						<td ng-bind="transaction.dateTime | date:'dd/MM/yyyy hh:mm:ss'""></td>
						<td><a href="#!/accounts/{{$ctrl.accountId}}/transactions/{{transaction.id}}" ng-bind="transaction.description"></a></td>
						<td ng-bind="transaction.type | translate"></td>
						<td class="text-right"><span ng-if="transaction.type == 'WITHDRAWAL'">-</span><span ng-bind="transaction.amount | number : 2"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>