<div ng-if="$ctrl.authenticating == false">
	<div class="row">
		<h1>Sign Up</h1>
	</div>
	<div class="row">
		<form id="signup">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="email">Email Address</label>
					<input id="email" placeholder="Enter email address" type="email" ng-model="$ctrl.email" class="form-control" required/>
					<div class="help-block with-errors"></div>
					<div class="text-danger" ng-bind="$ctrl.userError"></div>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input pattern="{{$ctrl.strongPattern}}" data-pattern-error="Weak Password" id="password" placeholder="Enter password" type="password" ng-model="$ctrl.password" class="form-control" required/>
					<div class="help-block with-errors"></div>
				</div>
				<div class="form-group">
					<label for="confirmPassword">Confirm Password</label>
					<input data-match="#password" data-match-error="Passwords do not match" id="confirmPassword" placeholder="Confirm password" type="password" ng-model="$ctrl.confirmPassword" class="form-control" required/>
					<div class="help-block with-errors"></div>
				</div>
				<button type="submit" class="btn btn-primary btn-block" ng-click="$ctrl.signUp()">Sign Up</button>
			</div>
			<div class="col-md-4"></div>
		</form>
	</div>
</div>
<div class="row" ng-if="$ctrl.authenticating == true">
	<div class="col-md-4"></div>
	<div class="col-md-4" align="center">
		<div class="loader"></div>
	</div>
	<div class="col-md-4"></div>
</div>
