<!DOCTYPE html>
<html th:replace="~{layout.html :: layout(~{::div})}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<body>
		<div class="container">
			<form data-toggle="validator" th:action="@{/user/password/change}" th:object="${changePasswordBean}" method="post">
	        	<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="currentPassword" th:text="#{field.currentPassword.label}"></label>
							<input data-required-error="#{field.currentPassword.error.required}" required th:field="*{currentPassword}" name="currentPassword" id="currentPassword" th:placeholder="#{field.currentPassword.placeholder}" type="password" class="form-control"/>
							<div class="help-block with-errors"></div>
						</div>
						<div class="form-group">
							<label for="password" th:text="#{field.password.label}"></label>
							<input th:pattern="${strongPassword}" th:data-error="#{field.password.error.required}" th:data-pattern-error="#{field.password.error.pattern}" required th:field="*{password}" name="password" id="password" th:placeholder="#{field.password.placeholder}" type="password" class="form-control"/>
							<div class="help-block with-errors"></div>
						</div>
						<div class="form-group">
							<label for="passwordConfirmation" th:text="#{field.passwordConfirmation.label}"></label>
							<input data-match="#password" th:data-error="#{field.passwordConfirmation.error.required}" th:data-match-error="#{field.passwordConfirmation.error.match}" required th:field="*{passwordConfirmation}" name="passwordConfirmation" id="passwordConfirmation" th:placeholder="#{field.passwordConfirmation.placeholder}" type="password" class="form-control"/>
							<div class="help-block with-errors"></div>
						</div>
						<div class="top-buffer-bg">
							<button type="submit" class="btn btn-primary btn-block" th:text="#{changePassword.submit}"></button>
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>
			</form>
		</div>
	</body>
</html>