<div class="row">
	<h1>Change Password</h1>
</div>
<div class="row">
	<form id="change">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="currentPassword">Current Password</label>
				<input id="currentPassword" placeholder="Enter current password" type="password" ng-model="$ctrl.currentPassword" class="form-control" required/>
				<div class="help-block with-errors"></div>
				<div class="text-danger" ng-bind="$ctrl.currentPasswordError"></div>
				<div class="text-danger" ng-bind="$ctrl.generalError"></div>
			</div>
			<div class="form-group">
				<label for="newPassword">New Password</label>
				<input pattern="{{$ctrl.strongPattern}}" data-pattern-error="Weak Password" id="newPassword" placeholder="Enter new password" type="password" ng-model="$ctrl.newPassword" class="form-control" required/>
				<div class="help-block with-errors"></div>
			</div>
			<div class="form-group">
				<label for="confirmPassword">Confirm Password</label>
				<input data-match="#newPassword" data-match-error="Passwords do not match" id="confirmPassword" placeholder="Confirm password" type="password" ng-model="$ctrl.confirmPassword" class="form-control" required/>
				<div class="help-block with-errors"></div>
				<div class="text-danger" ng-bind="$ctrl.newPasswordError"></div>
			</div>
			<button type="submit" class="btn btn-primary btn-block" ng-click="$ctrl.change()">Change Password</button>
		</div>
		<div class="col-md-4"></div>
	</form>
</div>
