<div ng-if="$ctrl.authenticating == false">
	<div class="row">
		<h1 ng-bind="'signup.heading' | translate"></h1>
	</div>
	<form id="signup">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="email" ng-bind="'signup.email.label' | translate"></label>
					<input id="email" data-error="{{'signup.email.errors.invalid' | translate}}" data-required-error="{{'signup.email.errors.required' | translate}}" placeholder="{{'signup.email.placeholder' | translate}}" type="email" ng-model="$ctrl.email" class="form-control" required/>
					<div class="help-block with-errors"></div>
					<div class="text-danger" ng-bind="$ctrl.userError"></div>
				</div>
				<div class="form-group">
					<label for="password" ng-bind="'signup.password.label' | translate"></label>
					<input pattern="{{$ctrl.strongPattern}}" data-pattern-error="{{'signup.password.errors.pattern' | translate}}" data-required-error="{{'signup.password.errors.required' | translate}}" id="password" placeholder="{{'signup.password.placeholder' | translate}}" type="password" ng-model="$ctrl.password" class="form-control" required/>
					<div class="help-block with-errors"></div>
				</div>
				<div class="form-group">
					<label for="confirmPassword" ng-bind="'signup.confirmPassword.label' | translate"></label>
					<input data-match="#password" data-match-error="{{'signup.confirmPassword.errors.match' | translate}}" data-required-error="{{'signup.confirmPassword.errors.required' | translate}}" id="confirmPassword" placeholder="{{'signup.confirmPassword.placeholder' | translate}}" type="password" ng-model="$ctrl.confirmPassword" class="form-control" required/>
					<div class="help-block with-errors"></div>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-2">
				<button type="submit" class="btn btn-primary btn-block" ng-click="$ctrl.signUp()" ng-bind="'signup.submit' | translate"></button>
			</div>
			<div class="col-md-2">
				<button type="button" class="btn btn-primary btn-block" ng-click="$ctrl.cancel()" ng-bind="'signup.cancel' | translate"></button>
			</div>
			<div class="col-md-4"></div>
		</div>
	</form>
</div>
<div class="row" ng-if="$ctrl.authenticating == true">
	<div class="col-md-4"></div>
	<div class="col-md-4" align="center">
		<div class="loader"></div>
	</div>
	<div class="col-md-4"></div>
</div>
