<div class="row">
	<h1 ng-bind="'accountOpen.heading' | translate"></h1>
</div>
<form id="openAccount">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="name" ng-bind="'accountOpen.name.label' | translate"></label>
				<input data-required-error="{{'accountOpen.name.errors.required' | translate}}" id="name" placeholder="{{'accountOpen.name.placeholder' | translate}}" type="text" ng-model="$ctrl.name" class="form-control" required/>
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-2">
			<button type="submit" class="btn btn-primary btn-block" ng-click="$ctrl.openAccount()" ng-bind="'accountOpen.submit' | translate"></button>
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-primary btn-block" ng-click="$ctrl.cancel()" ng-bind="'accountOpen.cancel' | translate"></button>
		</div>
		<div class="col-md-4"></div>
	</div>
</form>
