<!DOCTYPE html>
<html th:replace="~{layout.html :: layout(~{::div})}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<body>
		<div class="container">
        	<div class="row">
				<form data-toggle="validator" action="#" th:action="@{/login}" method="post">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="username" th:text="#{field.email.label}"></label>
							<input th:data-error="#{field.email.error.email}" th:data-required-error="#{field.email.error.required}" name="username" id="username" th:placeholder="#{field.email.placeholder}" type="email" class="form-control" required/>
							<div class="help-block with-errors"></div>
						</div>
						<div class="form-group">
							<label for="password" th:text="#{field.password.label}"></label>
							<input th:data-required-error="#{field.password.error.required}" name="password" id="password" th:placeholder="#{field.password.placeholder}" type="password" class="form-control" required/>
							<div class="help-block with-errors"></div>
						</div>
						<div class="top-buffer-bg">
							<button type="submit" class="btn btn-primary btn-block" th:text="#{login.submit}"></button>
						</div>
					</div>
					<div class="col-md-4"></div>
				</form>
			</div>
			<div class="row top-buffer">
					<div class="col-md-4"></div>
					<div class="col-md-4 text-center">
						<a th:href="@{/user/password/reset}" th:text="#{login.link.forgottenPassword}"></a> | <a th:href="@{/user/registration}" th:text="#{login.link.register}"></a>
					</div>
					<div class="col-md-4"></div>
			</div>
		</div>
	</body>
</html>