<div ng-if="$ctrl.authenticating == false">
	<div class="row">
		<h1 ng-bind="'signin.heading' | translate"></h1>
	</div>
	<div class="row">
		<form id="signin">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="email" ng-bind="'signin.email.label' | translate"></label>
					<input data-error="{{'signin.email.errors.invalid' | translate}}" data-required-error="{{'signin.email.errors.required' | translate}}" id="email" placeholder="{{'signin.email.placeholder' | translate}}" type="email" ng-model="$ctrl.email" class="form-control" required/>
					<div class="help-block with-errors"></div>
				</div>
				<div class="form-group">
					<label for="password" ng-bind="'signin.password.label' | translate"></label>
					<input data-required-error="{{'signin.password.errors.required' | translate}}" id="password" placeholder="{{'signin.password.placeholder' | translate}}" type="password" ng-model="$ctrl.password" class="form-control" required/>
					<div class="help-block with-errors"></div>
					<div class="text-danger" ng-bind="$ctrl.error"></div>
				</div>
				<button type="submit" class="btn btn-primary btn-block" ng-click="$ctrl.signIn()" ng-bind="'signin.submit' | translate"></button>
			</div>
			<div class="col-md-4"></div>
		</form>
	</div>
	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4 sign-up">
			<a href="#!/signup" ng-bind="'signin.signup' | translate"></a> | <a href="#!/reset" ng-bind="'signin.forgotten' | translate"></a>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
<div class="row" ng-if="$ctrl.authenticating == true">
	<div class="col-md-4"></div>
	<div class="col-md-4" align="center">
		<div class="loader"></div>
	</div>
	<div class="col-md-4"></div>
</div>
