<div ng-if="$ctrl.accounts">
	<div class="row">
		<h1 ng-bind="'accountList.heading' | translate"></h1>
	</div>
	<div class="row">
		<div class="col-md-5"></div>
		<div class="col-md-2">
			<form>
				<a class="btn btn-primary btn-block" href="#!/accounts/open" role="button" ng-bind="'accountList.openAccount' | translate"></a>
			</form>
		</div>
		<div class="col-md-5"></div>
	</div>
	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<table class="table table-striped">
				<thead>
					<tr>
						<th ng-bind="'accountList.name' | translate"></th>
						<th class="text-right" ng-bind="'accountList.balance' | translate"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="account in $ctrl.accounts">
						<td><a href="#!/accounts/{{account.id}}" ng-bind="account.name"></a></td>
						<td class="text-right" ng-bind="account.balance | number : 2"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>